@charset "utf-8";
/* CSS document */

body {
    background-color: darkolivegreen;
    padding-top: 5px;
}

h1 {
    font-family: 'Young Serif', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.row {
    padding: 10px;
    height: 300px;
    width: 100%;
}

.p-2 {
    width: 600px;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}